@charset "UTF-8";



header{
  background: radial-gradient(white 30%,
                          rgb(151,151,151));
  border: 2px;
  border-color: black;
  box-shadow: rgb(51,51,51) 10px 10px 20px;
  text-align: center;
}
body{
  background: url("background.png");
}

img{
  width: 35%;
}

nav>ul{
  list-style-type: none;
  padding-left: 5px;
  display: flex;
  padding: 0 10px 0 10px;
}
nav>ul>li:nth-of-type(6){
  margin-top: 20px;
}
nav>ul>li:nth-of-type(16){
  margin-top: 20px;
}
nav > ul > li > a:link, nav > ul > li > a:visited{
  color: rgb(151,151,151);
  text-decoration: none;
}
nav > ul > li > a:hover, nav >ul > li > a:active{
  color: rgb(80,80,80);
  text-decoration:underline;
}
