@charset "UTF-8";



header{
  background: radial-gradient(white 30%,
                          rgb(151,151,151));
  border: 2px;
  border-color: black;
  box-shadow: rgb(51,51,51) 10px 10px 20px;
  text-align: center;
}
body{
  background: url("background.png");
}
p{
  color: white;
}
h1{
  background: radial-gradient(white 30%,
                          rgb(151,151,151));
  border: 2px;
  border-color: black;
  box-shadow: rgb(51,51,51) 10px 10px 20px;
}
h4{
  color: white;
  font-size: 65px;
}
img{
  width: 35%;
}

nav>ul{
  list-style-type: none;
  padding-left: 5px;
  display: flex;
}
nav ul li{
    padding: 0 25px 0 10px;
    padding-left:250px;
}
nav>ul>li:nth-of-type(6){
  margin-top: 20px;
}
nav>ul>li:nth-of-type(16){
  margin-top: 20px;
}
nav > ul > li > a:link, nav > ul > li > a:visited{
  color: rgb(16,16,16);
  text-decoration: none;
}
nav > ul > li > a:hover, nav >ul > li > a:active{
  color: rgb(80,80,80);
  text-decoration:underline;
}
.container{
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.container1{
  display: flex;
}
.container2{
  display: flex;
}

.Colum1{
  display: flex;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
}

.Colum2{
  display: flex;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
}

.clearfix:after {content: ""; display: table;clear: both;}
@media screen and (min-width:578px) {

.Special1{
  width: 50%;
  text-align: center;
}
.Special2{
  width: 50%;
    text-align: center;
}

.Special3{
    width: 50%;
  text-align: center;
}

.Special4{
    width: 50%;
  text-align: center;
}

.Special5{
    width: 50%;
  text-align: center;
}

.Special6{
    width: 50%;
  text-align: center;
}
.Colum1{
  width: 50%;
  text-align: center;
}
.Colum2{
  width: 45%;
  text-align: center;
}
}
