@charset "UTF-8";



header{
  background: radial-gradient(white 30%,
                          rgb(151,151,151));
  border: 2px;
  border-color: black;
  box-shadow: rgb(51,51,51) 10px 10px 20px;
  text-align: center;
}
body{
  background: url("background.png");
}

img{
  width: 35%;
}

nav>ul{
  list-style-type: none;
  padding-left: 5px;
  display: flex;
}
nav ul li{
    padding: 0 25px 0 10px;
    padding-left:250px;
}
nav>ul>li:nth-of-type(6){
  margin-top: 20px;
}
nav>ul>li:nth-of-type(16){
  margin-top: 20px;
}
nav > ul > li > a:link, nav > ul > li > a:visited{
  color: rgb(16,16,16);
  text-decoration: none;
}
nav > ul > li > a:hover, nav >ul > li > a:active{
  color: rgb(80,80,80);
  text-decoration:underline;
}

.Special1{
  display: flex;
  flex-direction: row;
}

.Special2{
  display: flex;
  flex-direction: row;
}

.Special3{
  display: flex;
  flex-direction: row;
}

.Special4{
  display: flex;
  flex-direction: row;
}

.Special5{
  display: flex;
  flex-direction: row;
}

.Special6{
  display: flex;
  flex-direction: row;
}

.clearfix:after {content: ""; display: table;clear: both;}
@media screen and (min-width:578px) {
display:flex;}
